{{template "header"}}
<h1>FAQ Section</h1>
<ul>
  {{range .Questions}}
    {{template "qa" .}}
  {{end}}
</ul>

{{define "qa"}}
  <li><b>{{.Question}}</b> {{.Answer}}</li>
{{end}}
{{template "footer"}}